@{
    ViewData["Title"] = "Home Page";
}


    <h1 class="display-4">Sabe o que é o curso de Sistemas da Informação?</h1><br>
    <p>O curso de Sistemas de Informação (SI) é uma graduação de nível superior com titulação de bacharelado.A graduação prepara os alunos para terem um conhecimento completo em todos os assuntos que se referem à TI. A duração média do curso fica por volta de quatro anos. Durante esse tempo de formação o estudante é capacitado para desenvolver sites, softwares, trabalhar na gestão da TI, bem como atuar com redes, banco de dados e outras vertentes da Tecnologia da Informação.Os conhecimentos e atividades profissionais do bacharel em SI abrangem a concepção, desenvolvimento, implantação, operação, avaliação e manutenção de sistemas e tecnologias relacionadas à informática. Além disso, o profissional também atua diretamente com especificação de componentes e equipamentos, suporte técnico, procedimentos de instalação e configuração, realização de testes e medições, utilização de protocolos e arquitetura de redes, entre outras funções.</p></br>
